:root {
  color-scheme: dark;
  font-family: sans-serif;
  --text-color: #f8f8f2;
  --gray-text-color: #75747a;
  --accent-color: #75747a;
  --inner-background: #2b2a33;
  --background-color: #282a36;
  --orange-color: #ffb86c;
  --blue-color: #8be9fd;
  --green-color: #50fa7b;
  --red-color: #ff5555;
  background: var(--background-color);
  color: var(--text-color);
}

#root {
  align-items: center;
  justify-content: center;
  display: flex;
  min-width: 70%;
}

#auth_container {
  justify-content: center;
  display: flex;
}
#auth_button {
  flex-grow: 1;
  max-width: 70%;
  padding: 1em;
}

#app {
  width: 100%;
  max-width: 700px;
  padding: 1em;
}

a:link, a:visited{
  color: var(--blue-color);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

h1 {
  text-align: center;
  flex-shrink: 0;
}
h2 {
  flex-shrink: 0;
}

.report_input {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 6px;
  flex-wrap: wrap;
}

input[type=text] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 4px;
  margin: 6px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 65%;
  background: var(--inner-background);
  color: var(--text-color);
  border: 1px solid var(--gray-text-color);
}
input[type=text]:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.report_box {
}

.fights_box {
}
.fight_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5em;
  column-gap: 0.5em;
  margin: 0;
}
.fight_item, #fight_list_pad {
  padding: 0;
  margin: 0;
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 49%;
}
.fight_item input {
  display: none;
}
.fight_item input:checked ~label {
  border: 1px solid var(--accent-color);
  box-shadow: 5px 9px 14px 0px #1c1c1c;
  background: var(--inner-background);
}
.fight_item label {
  width: 100%;
  padding: 0.5em;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
.fight_item label:hover {
  border: 1px solid var(--gray-text-color);
  box-shadow: 5px 9px 14px 0px #1c1c1c;
}
.fight_date {
  color: var(--gray-text-color);
  display: block;
  font-size: 0.8em;
}
.fight_title {
  display: block;
}

.players_box {
}
.analysis_box {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.5em;
  row-gap: 0.5em;
  column-gap: 0.5em;
}

.result_box {
  padding: 0.5em;
  border-radius: 4px;
  flex-grow: 1;
  border: 1px solid transparent;
  /* for ribbon */
  overflow: clip;
  position: relative;
}
.result_box:hover, .result_box.better {
  border: 1px solid var(--gray-text-color);
  box-shadow: 5px 9px 14px 0px #1c1c1c;
}
.result_box.better {
  background: var(--inner-background);
}
.result_box.worse {
}
.result_text {
  display: block;
}
.result_title {
  display: block;
}

/* cool ribbon thing? */
.ribbon {
  position: absolute;
  right: -1.5em;
}
.worse .ribbon {
  display:none;
}
.ribbon span {
  transform: rotate(45deg);
  display: block;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  text-shadow: 0 1px 1px #000);
  width: 5em;
  background-color: var(--green-color);
  color: var(--inner-background);
  text-align: center;
}

.loading {
  padding: 0.5em;
}
.loading_anim {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
}
.loading_anim div {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid;
  border-radius: 50%;
  animation: spinning 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--text-color) transparent transparent transparent;
}
.loading_anim div:nth-child(1) {
  animation-delay: 0.12s;
}
.loading_anim div:nth-child(2) {
  animation-delay: 0.28s;
}
.loading_anim div:nth-child(3) {
  animation-delay: 0.42s;
}
.loading span {
  margin-left: 0.5em;
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
